In [1]:
import polars as pl
import os
import pandas as pd
os.getcwd()

'c:\\Users\\digom\\Documents\\GitHub\\fh-energia'

In [2]:
df_cnpj = pl.scan_csv('./data/estabelecimentos.csv', has_header=False, infer_schema_length=0)
if False:
    import polars as pl
    # Assuming 'df' is your DataFrame
    n = 1  # Change this to the number of rows you want to drop

    df_cnpj = df_cnpj.slice(n, len(df_cnpj) - n)

In [3]:
df_cnpj

In [4]:
situ_dict = {'01': 'Nula', '02': 'Ativa', '03': 'Suspensa', '04': 'Inapta', '08': 'Baixada'}

df_cnpj = df_cnpj.select('column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6',
                         'column_11',  'column_12', 'column_13',
                          'column_14', 'column_15', 'column_16', 'column_19', 'column_20', 'column_21')
df_cnpj = df_cnpj.with_columns(pl.concat_str(
        [
            pl.col("column_1"),
            pl.col("column_2"),
            pl.col("column_3"),
        ],
        separator="",
    ).alias('cnpj'),
    pl.concat_str(
        [
            pl.col("column_14"),
            pl.col("column_15"),
            pl.col("column_16"),
        ],
        separator=" ",
    ).alias('endereco'),
    pl.col('column_6').replace(situ_dict).alias('situacao_cadastral'))\
            .rename({'column_4': 'matriz_filial',  'column_19': 'CEP', 'column_12':'CNAE', 'column_13':'CNAE_2', 'column_16': 'numero', 'column_5': 'nome_fantasia',
                     'column_20': 'UF', 'column_21': 'municipio', 'column_11':'CNPJ_DAT_CON'})\
            .with_columns(cnae_2_split=pl.col("CNAE_2").str.split(","))\
            .with_columns(pl.col('CNPJ_DAT_CON').str.to_date('%Y%m%d').alias('CNPJ_DAT_CON'))\
            .with_columns(
                          pl.col('CNPJ_DAT_CON').dt.month().alias('CNPJ_DAT_CON_M'),
                          pl.col('CNPJ_DAT_CON').dt.year().alias('CNPJ_DAT_CON_Y'))\
            .explode('cnae_2_split')\
            .select(['cnpj', 'endereco', 'matriz_filial', 'CEP','CNAE', 'cnae_2_split', 'numero', 'situacao_cadastral', 
                     'nome_fantasia', 'UF', 'municipio', 'CNPJ_DAT_CON', 'CNPJ_DAT_CON_M', 'CNPJ_DAT_CON_Y'])\
            .filter(pl.col('situacao_cadastral').is_in(['Ativa', 'Suspensa', 'Inapta']))

In [5]:
df_cnpj.head(10).collect()

shape: (10, 14)
┌───────────┬───────────┬───────────┬──────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ cnpj      ┆ endereco  ┆ matriz_fi ┆ CEP      ┆ … ┆ municipio ┆ CNPJ_DAT_ ┆ CNPJ_DAT_ ┆ CNPJ_DAT_ │
│ ---       ┆ ---       ┆ lial      ┆ ---      ┆   ┆ ---       ┆ CON       ┆ CON_M     ┆ CON_Y     │
│ str       ┆ str       ┆ ---       ┆ str      ┆   ┆ str       ┆ ---       ┆ ---       ┆ ---       │
│           ┆           ┆ str       ┆          ┆   ┆           ┆ date      ┆ i8        ┆ i32       │
╞═══════════╪═══════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 760163690 ┆ RUA DO    ┆ 2         ┆ 11010141 ┆ … ┆ 7071      ┆ 1985-12-1 ┆ 12        ┆ 1985      │
│ 00316     ┆ COMERCIO  ┆           ┆          ┆   ┆           ┆ 2         ┆           ┆           │
│           ┆ 55        ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ 523027260 ┆ RUA       ┆ 1         ┆ 13472080 ┆ … ┆ 6131      ┆ 1983-02-2 ┆ 2         ┆ 1983      │
│ 00182     ┆ GREGORIO  ┆           ┆          ┆   ┆           ┆ 3         ┆           ┆           │
│           ┆ LUCHIARI  ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│           ┆ 496       ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ 036502610 ┆ RUA       ┆ 1         ┆ 88495000 ┆ … ┆ 8113      ┆ 1999-12-1 ┆ 12        ┆ 1999      │
│ 00145     ┆ PREFEITO  ┆           ┆          ┆   ┆           ┆ 7         ┆           ┆           │
│           ┆ JOAO      ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│           ┆ ORESTES   ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│           ┆ DE ARA…   ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ 073969290 ┆ RUA       ┆ 1         ┆ 09541350 ┆ … ┆ 7077      ┆ 2005-05-0 ┆ 5         ┆ 2005      │
│ 00120     ┆ FLORIANO  ┆           ┆          ┆   ┆           ┆ 4         ┆           ┆           │
│           ┆ PEIXOTO,  ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│           ┆ 85        ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ 794578420 ┆ RUA DR.   ┆ 1         ┆ 81250270 ┆ … ┆ 7535      ┆ 1986-07-1 ┆ 7         ┆ 1986      │
│ 00127     ┆ JOSE      ┆           ┆          ┆   ┆           ┆ 8         ┆           ┆           │
│           ┆ GUILHERME ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│           ┆ LOYOLA    ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│           ┆ 31…       ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ 794578420 ┆ RUA DR.   ┆ 1         ┆ 81250270 ┆ … ┆ 7535      ┆ 1986-07-1 ┆ 7         ┆ 1986      │
│ 00127     ┆ JOSE      ┆           ┆          ┆   ┆           ┆ 8         ┆           ┆           │
│           ┆ GUILHERME ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│           ┆ LOYOLA    ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│           ┆ 31…       ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ 005914510 ┆ RUA       ┆ 1         ┆ 04375050 ┆ … ┆ 7107      ┆ 1995-04-1 ┆ 4         ┆ 1995      │
│ 00140     ┆ CORIOLANO ┆           ┆          ┆   ┆           ┆ 7         ┆           ┆           │
│           ┆ DURAND    ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│           ┆ 370       ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ 073969720 ┆ RUA       ┆ 1         ┆ 50720970 ┆ … ┆ 2531      ┆ 2005-04-2 ┆ 4         ┆ 2005      │
│ 00196     ┆ CARLOS    ┆           ┆          ┆   ┆           ┆ 9         ┆           ┆           │
│           ┆ GOMES 395 ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ 648610160 ┆ RUA SAO   ┆ 1         ┆ 04264090 ┆ … ┆ 7107      ┆ 1990-11-0 ┆ 11        ┆ 1990      │
│ 00171     ┆ SILVINO   ┆           ┆          ┆   ┆           ┆ 9         ┆           ┆           │
│           ┆ 54        ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
│ 648610160 ┆ RUA SAO   ┆ 1         ┆ 04264090 ┆ … ┆ 7107      ┆ 1990-11-0 ┆ 11        ┆ 1990      │
│ 00171     ┆ SILVINO   ┆           ┆          ┆   ┆           ┆ 9         ┆           ┆           │
│           ┆ 54        ┆           ┆          ┆   ┆           ┆           ┆           ┆           │
└───────────┴───────────┴───────────┴──────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [6]:
df_bdgd = pl.scan_csv('data/bdgd/ucmt_pj.csv', separator=";", encoding='utf8-lossy', infer_schema_length=0)
df_bdgd = df_bdgd.with_columns(pl.col('CEP').str.replace('\.', '').str.replace('-', '').alias('CEP'),
                               pl.col('CNAE').str.replace('-', '').str.replace('/', '').alias('CNAE'),
                               pl.col('DAT_CON').str.to_date('%d/%m/%Y').alias('DAT_CON'),)\
                    .with_columns(
                               pl.col('DAT_CON').dt.month().alias('DAT_CON_M'),
                              pl.col('DAT_CON').dt.year().alias('DAT_CON_Y'))\
                    .filter(pl.col('LIV') == '0')

In [7]:
pd_bdgd = df_bdgd.collect().to_pandas()
cols_bdgd = pd_bdgd.columns

In [11]:
len(pd_bdgd)

234050

In [8]:
cod_id_set = []
one_cod_df_list = []
cnpj_cols = ['cnpj', 'nome_fantasia', 'situacao_cadastral', 'UF', 'matriz_filial']

# CEP e CNAE (filtrando o numero)

In [9]:
df_cnae_1 = df_cnpj.join(df_bdgd, on=['CEP', 'CNAE'], how='inner')
df_cnae_2 = df_cnpj.join(df_bdgd, left_on=['CEP', 'cnae_2_split'], right_on=['CEP', 'CNAE'], how='inner')
#concatenating the two dataframes
df_final = pl.concat([df_cnae_1, df_cnae_2])
df_filter = df_final.filter(pl.col('LGRD').str.contains(pl.col('numero'), literal=True))\
                    .unique(subset=['COD_ID', 'cnpj'])
df_cep_cnae_num = df_filter.collect().to_pandas()
df_cep_cnae_num

,cnpj,endereco,matriz_filial,CEP,CNAE,cnae_2_split,numero,situacao_cadastral,nome_fantasia,UF,...,FIC_10,FIC_11,FIC_12,SEMRED,DESCR,DATA_BASE,POINT_X,POINT_Y,DAT_CON_M,DAT_CON_Y
0,01653197000120,RUA HILDEBRANDO CORDEIRO 30,1,80740350,6911701,None,30,Ativa,None,PR,...,0,0,0,0,None,31DEC2022:00:00:00.0000000,-49.31037814,-25.4374259,1.0,2011.0
1,03318172000104,None,1,61700000,9430800,9493600,S/N,Ativa,None,CE,...,0,1,3,0,FUNDACAO A DOS SEV MINISTERIO,31DEC2022:00:00:00.0000000,-38.3800951,-3.86007235,4.0,2017.0
2,04973351000130,AVENIDA INDUSTRIAL 500,1,08586150,2063100,4646001,500,Ativa,None,SP,...,0,0,0,0,M000530474,31DEC2022:00:00:00.0000000,-46.32886982,-23.44386427,2.0,2012.0
3,01682906000104,RUA RIO PARANA 346,1,83322000,2063100,4646001,346,Ativa,None,PR,...,0,0,0,0,None,31DEC2022:00:00:00.0000000,-49.18501989,-25.45294746,6.0,2008.0
4,01712410000128,AVENIDA RIO VERDE 212,1,74835270,1095300,4639702,212,Ativa,SABORELLA,GO,...,0,2,0,0,0,31DEC2022:00:00:00.0000000,-49.26408978,-16.73084441,4.0,1977.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428112,03150691000106,RUA PARA 812,1,85813060,6209100,6204000,812,Ativa,CONSTEL TECNOLOGIA,PR,...,2,0,1,0,None,31DEC2022:00:00:00.0000000,-53.44225807,-24.93955358,5.0,2015.0
428113,07915982000190,SÍTIO PICARRAO DA LAGOINHA 1,1,13700000,0113000,0131800,1,Ativa,None,SP,...,0,0,0,1,None,31DEC2022:00:00:00.0000000,-47.18611024,-21.91530467,8.0,2012.0
428114,07915982000190,SÍTIO PICARRAO DA LAGOINHA 1,1,13700000,0113000,0131800,1,Ativa,None,SP,...,0,2,4,1,None,31DEC2022:00:00:00.0000000,-47.13150921,-21.71884573,6.0,2017.0
428115,07220532000183,TRAVESSA MARCOLINO MOURA 0,1,95270000,1121600,1112700,0,Ativa,None,RS,...,1,0,2,1,None,31DEC2022:00:00:00.0000000,-51.25853197,-29.02595047,6.0,2014.0
428116,07220532000183,TRAVESSA MARCOLINO MOURA 0,1,95270000,1121600,1112700,0,Ativa,None,RS,...,0,2,0,1,None,31DEC2022:00:00:00.0000000,-51.35387195,-29.07605451,11.0,2015.0

In [10]:
cep_cnae_num_cod_id =  (df_cep_cnae_num.COD_ID.value_counts() == 1).loc[lambda x: x == True].index.tolist()
cod_id_set = [*cod_id_set, *cep_cnae_num_cod_id]

In [11]:
one_cod_df_list.append(df_cep_cnae_num[df_cep_cnae_num.COD_ID.isin(cep_cnae_num_cod_id)][[*cnpj_cols, *cols_bdgd]])

In [12]:
len(set(cep_cnae_num_cod_id))

17359

# CEP e CNAE (sem filtrar numero)

In [13]:
df_cnae_1 = df_cnpj.join(df_bdgd, on=['CEP', 'CNAE'], how='inner')
df_cnae_2 = df_cnpj.join(df_bdgd, left_on=['CEP', 'cnae_2_split'], right_on=['CEP', 'CNAE'], how='inner')
#concatenating the two dataframes
df_final = pl.concat([df_cnae_1, df_cnae_2])
df_filter = df_final.unique(subset=['COD_ID', 'cnpj'])
df_cep_cnae = df_filter.collect().to_pandas()
df_cep_cnae

,cnpj,endereco,matriz_filial,CEP,CNAE,cnae_2_split,numero,situacao_cadastral,nome_fantasia,UF,...,FIC_10,FIC_11,FIC_12,SEMRED,DESCR,DATA_BASE,POINT_X,POINT_Y,DAT_CON_M,DAT_CON_Y
0,07301012000103,RUA DOM HELIO CAMPOS 36,1,63800000,4754701,4755502,36,Ativa,MOBEL LAR,CE,...,0,0,0,0,J ALVES E OLIVEIRA LTDA,31DEC2022:00:00:00.0000000,-39.29397122,-5.19851026,3.0,2019.0
1,04215423000180,RUA FRANCISCO PINHEIRO 1-28,1,15520000,3101200,4930202,1-28,Ativa,CARMO-LAR,SP,...,0,0,0,0,None,31DEC2022:00:00:00.0000000,-50.07858777,-20.42206127,11.0,2001.0
2,04215423000180,RUA FRANCISCO PINHEIRO 1-28,1,15520000,3101200,4930202,1-28,Ativa,CARMO-LAR,SP,...,0,0,0,0,None,31DEC2022:00:00:00.0000000,-50.07816801,-20.42171012,6.0,1991.0
3,04215423000180,RUA FRANCISCO PINHEIRO 1-28,1,15520000,3101200,4930202,1-28,Ativa,CARMO-LAR,SP,...,0,0,0,0,None,31DEC2022:00:00:00.0000000,-50.07558149,-20.41701721,3.0,2007.0
4,04215423000180,RUA FRANCISCO PINHEIRO 1-28,1,15520000,3101200,4930202,1-28,Ativa,CARMO-LAR,SP,...,0,0,0,0,None,31DEC2022:00:00:00.0000000,-50.07989094,-20.4219867,10.0,1998.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3562695,63914865000183,RUA EUGENIO BUOSI 1 31,1,15520000,1622602,3101200,1 31,Ativa,BRILHANTE JM PORTAS,SP,...,0,0,0,0,None,31DEC2022:00:00:00.0000000,-50.07958096,-20.42082091,10.0,2010.0
3562696,63914865000183,RUA EUGENIO BUOSI 1 31,1,15520000,1622602,3101200,1 31,Ativa,BRILHANTE JM PORTAS,SP,...,0,0,0,0,None,31DEC2022:00:00:00.0000000,-50.07707999,-20.42149592,2.0,2012.0
3562697,63914865000183,RUA EUGENIO BUOSI 1 31,1,15520000,1622602,3101200,1 31,Ativa,BRILHANTE JM PORTAS,SP,...,0,0,0,0,None,31DEC2022:00:00:00.0000000,-50.07836067,-20.42175817,10.0,2000.0
3562698,63914865000183,RUA EUGENIO BUOSI 1 31,1,15520000,1622602,4754701,1 31,Ativa,BRILHANTE JM PORTAS,SP,...,0,0,0,0,None,31DEC2022:00:00:00.0000000,-50.07860972,-20.42381227,6.0,2004.0
3562699,46465126000132,RUA JULIO CANTADORI 405,1,17930000,8411600,0161099,405,Ativa,TUPI PAULISTA GABINETE DO PREFEITO,SP,...,2,3,2,0,None,31DEC2022:00:00:00.0000000,-51.49451839,-21.3141598,10.0,2015.0

In [14]:
cep_cnae_cod_id = (df_cep_cnae.COD_ID.value_counts() == 1).loc[lambda x: x == True].index.tolist()
cod_id_set = [*cod_id_set, *cep_cnae_cod_id]

In [15]:
one_cod_df_list.append(df_cep_cnae[df_cep_cnae.COD_ID.isin(cep_cnae_cod_id)][[*cnpj_cols, *cols_bdgd]])

# CEP, CNAE e DAT_CON

In [16]:
df_cnae_1 = df_cnpj.join(df_bdgd, right_on=['CEP', 'CNAE', 'DAT_CON'], left_on=['CEP', 'CNAE', 'CNPJ_DAT_CON'], how='inner')
df_cnae_2 = df_cnpj.join(df_bdgd, left_on=['CEP', 'cnae_2_split', 'CNPJ_DAT_CON'], right_on=['CEP', 'CNAE', 'DAT_CON'], how='inner')
#concatenating the two dataframes
df_final = pl.concat([df_cnae_1, df_cnae_2])
df_filter = df_final.unique(subset=['COD_ID', 'cnpj'])
df_cep_cnae_DAT = df_filter.collect().to_pandas()
df_cep_cnae_DAT

,cnpj,endereco,matriz_filial,CEP,CNAE,cnae_2_split,numero,situacao_cadastral,nome_fantasia,UF,...,FIC_10,FIC_11,FIC_12,SEMRED,DESCR,DATA_BASE,POINT_X,POINT_Y,DAT_CON_M,DAT_CON_Y
0,00214242000340,RUA ERICH MEYER 108,2,89270000,1330800,None,108,Ativa,None,SC,...,0,0,0,0,"NR_CONTA_CNS_GENESIS: 42836184,9943223,7308699...",31DEC2022:00:00:00.0000000,-48.96267367,-26.47152776,12,2009
1,27784097000127,RUA OCEANICA AMABILE 736,1,11704420,4729699,None,736,Ativa,None,SP,...,1,0,0,1,None,31DEC2022:00:00:00.0000000,-46.48346521,-24.02339328,5,2017
2,42159396000164,RUA CAMPINAS 32,1,65930000,4781400,4761001,32,Inapta,LOJA EVANGELICA CORACAO DE DEUS,MA,...,0,0,1,0,0,31DEC2022:00:00:00.0000000,-47.50128856,-4.94902729,6,2021
3,15003231000126,FAZENDA SAGRADO CORACAO - ESTRADA DE GUAIRA AO...,1,14790000,0115600,0111302,S/N,Ativa,None,SP,...,1,3,3,1,None,31DEC2022:00:00:00.0000000,-48.42308987,-20.25902924,2,2012
4,35551964000102,TRAVESSA SANTO ANTONIO 78,1,45810000,5590699,9001902,78,Ativa,None,BA,...,0,0,0,0,1,31DEC2022:00:00:00.0000000,-39.06292521,-16.44604767,11,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,42505502000114,RUA 19 DE ABRIL 274,1,44695000,1359600,4713002,274,Ativa,PITICA DE LACO E AVIAMENTOS,BA,...,0,0,0,0,1,31DEC2022:00:00:00.0000000,-40.05725521,-11.36148589,6,2021
489,48569819000109,RODOVIA BR 242 KM 20 S/N,1,78888000,0115600,0111399,S/N,Ativa,AGROPECUARIA G5,MT,...,0,0,3,0,"2604956,",31DEC2022:00:00:00.0000000,-55.2779204,-13.25415069,11,2022
490,28164677000184,RUA HENRIQUE SAVI 55 QUADRA 15 15-55,1,17011900,4789001,4781400,15-55,Ativa,GABRIELA OLIVEIRA JOIAS E SEMI JOIAS,SP,...,0,0,0,1,None,31DEC2022:00:00:00.0000000,-49.04930596,-22.34173476,7,2017
491,39382611000187,10A AVENIDA MATO GROSSO S/N,1,78840000,4781400,4789001,S/N,Ativa,None,MT,...,1,0,0,1,None,31DEC2022:00:00:00.0000000,-55.18590454,-15.59443504,10,2020
492,45947403000180,RUA SERGIPE 72,1,68515000,4751201,4781400,72,Ativa,L&M,PA,...,0,0,0,0,0,31DEC2022:00:00:00.0000000,-49.88412506,-6.08465867,4,2022

In [17]:
cep_cnae_dat_cod_id = (df_cep_cnae_DAT.COD_ID.value_counts() == 1).loc[lambda x: x == True].index.tolist()
cod_id_set = [*cod_id_set, *cep_cnae_dat_cod_id]
df_cep_cnae_DAT.rename(columns={'CNPJ_DAT_CON': 'DAT_CON'}, inplace=True)
one_cod_df_list.append(df_cep_cnae_DAT[df_cep_cnae_DAT.COD_ID.isin(cep_cnae_dat_cod_id)][[*cnpj_cols, *cols_bdgd]])

# CEP, CNAE e DAT_COM (apenas mes e ano)

In [18]:
df_cnae_1 = df_cnpj.join(df_bdgd, left_on=['CEP', 'CNAE', 'CNPJ_DAT_CON_M', 'CNPJ_DAT_CON_Y'], right_on=['CEP', 'CNAE', 'DAT_CON_M', 'DAT_CON_Y'], how='inner')
df_cnae_2 = df_cnpj.join(df_bdgd, left_on=['CEP', 'cnae_2_split','CNPJ_DAT_CON_M', 'CNPJ_DAT_CON_Y'], right_on=['CEP', 'CNAE', 'DAT_CON_M', 'DAT_CON_Y'], how='inner')
#concatenating the two dataframes
df_final = pl.concat([df_cnae_1, df_cnae_2])
df_filter = df_final.unique(subset=['COD_ID', 'cnpj'])
df_cep_cnae_DAT_M = df_filter.collect().to_pandas()
df_cep_cnae_DAT_M

,cnpj,endereco,matriz_filial,CEP,CNAE,cnae_2_split,numero,situacao_cadastral,nome_fantasia,UF,...,FIC_08,FIC_09,FIC_10,FIC_11,FIC_12,SEMRED,DESCR,DATA_BASE,POINT_X,POINT_Y
0,03606930000181,RUA DEZ DE NOVEMBRO 358,1,89825000,4930202,None,358,Ativa,MEMA TRANSPORTES,SC,...,1,0,1,0,0,0,None,31DEC2022:00:00:00.0000000,-52.56156644,-26.96487635
1,01993183000580,RUA BERNARDO SPECTOR 53,2,45810000,4711302,4691500,53,Ativa,ATACADO RONDELLI,BA,...,0,0,0,0,0,1,3,31DEC2022:00:00:00.0000000,-39.07750384,-16.44213064
2,59764886000192,AVENIDA BRASIL NORTE 1670,1,15385000,8411600,None,1670,Ativa,CAMARA MUNICIPAL DE ILHA SOLTEIRA,SP,...,0,0,0,0,1,0,None,31DEC2022:00:00:00.0000000,-51.33725709,-20.42862719
3,59764886000192,AVENIDA BRASIL NORTE 1670,1,15385000,8411600,None,1670,Ativa,CAMARA MUNICIPAL DE ILHA SOLTEIRA,SP,...,0,1,0,0,0,0,None,31DEC2022:00:00:00.0000000,-51.34139369,-20.42954207
4,08090198000153,SÍTIO SAO JOAO SN,1,15290000,0151202,0111399,SN,Ativa,None,SP,...,0,1,1,1,1,0,None,31DEC2022:00:00:00.0000000,-50.13529001,-21.08392949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,48560955000120,RUA SEBASTIAO AMADO 3078,1,68800000,4712100,4723700,3078,Ativa,None,PA,...,2,0,0,0,3,0,0,31DEC2022:00:00:00.0000000,-50.46712888,-1.66559167
12290,10734643002751,FAZENDA LAGOA DOS PATOS SN,2,14530000,0113000,0115600,SN,Ativa,None,SP,...,1,0,2,0,1,1,None,31DEC2022:00:00:00.0000000,-48.0820152,-20.20082742
12291,45078158000112,SITIO CURRAIS SN,1,62823000,0321302,0322102,SN,Ativa,AQUANORTE LABORATORIO DE POS LARVAS,CE,...,0,0,1,0,0,0,THIAGO FERREIRA LUSTOSA,31DEC2022:00:00:00.0000000,-37.78564681,-4.85658553
12292,03587113000123,RODOVIA RS 467 S/N,1,99950000,4661300,4683400,S/N,Ativa,ROTA AGRICOLA,RS,...,0,0,0,0,0,0,None,31DEC2022:00:00:00.0000000,-52.01954641,-28.07594696
12293,04499792000141,RUA CURICACA SN,1,76864000,4930202,1610203,SN,Ativa,MADEIREIRA SAKURA,RO,...,1,0,0,0,0,0,None,31DEC2022:00:00:00.0000000,-62.58633286,-9.37367886

In [19]:
cep_cnae_DAT_M_cod_id = (df_cep_cnae_DAT_M.COD_ID.value_counts() == 1).loc[lambda x: x == True].index.tolist()
cod_id_set = [*cod_id_set, *cep_cnae_DAT_M_cod_id]
df_cep_cnae_DAT_M.rename(columns={'CNPJ_DAT_CON_Y': 'DAT_CON_Y', 'CNPJ_DAT_CON_M': 'DAT_CON_M'}, inplace=True)
one_cod_df_list.append(df_cep_cnae_DAT_M[df_cep_cnae_DAT_M.COD_ID.isin(cep_cnae_DAT_M_cod_id)][[*cnpj_cols, *cols_bdgd]])

# CEP, CNAE e DAT_COM (apenas ano)

In [20]:
df_cnae_1 = df_cnpj.join(df_bdgd, left_on=['CEP', 'CNAE', 'CNPJ_DAT_CON_Y'], right_on=['CEP', 'CNAE', 'DAT_CON_Y'], how='inner')
df_cnae_2 = df_cnpj.join(df_bdgd, left_on=['CEP', 'cnae_2_split', 'CNPJ_DAT_CON_Y'], right_on=['CEP', 'CNAE', 'DAT_CON_Y'], how='inner')
#concatenating the two dataframes
df_final = pl.concat([df_cnae_1, df_cnae_2])
df_filter = df_final.unique(subset=['COD_ID', 'cnpj'])
df_cep_cnae_DAT_Y = df_filter.collect().to_pandas()
df_cep_cnae_DAT_Y

,cnpj,endereco,matriz_filial,CEP,CNAE,cnae_2_split,numero,situacao_cadastral,nome_fantasia,UF,...,FIC_09,FIC_10,FIC_11,FIC_12,SEMRED,DESCR,DATA_BASE,POINT_X,POINT_Y,DAT_CON_M
0,03402398000180,RUA ADELAR MARIA DE ANDRADE 178,1,45810000,4711302,None,178,Inapta,None,BA,...,0,0,0,0,1,3,31DEC2022:00:00:00.0000000,-39.07750384,-16.44213064,12
1,01848456000179,RODOVIA C L 01 LIG. CAMPO LIMPO-MIRANAPOLIS S/N,1,75160000,2342702,None,S/N,Ativa,CERAMICA ELDORADO,GO,...,3,2,0,0,0,0,31DEC2022:00:00:00.0000000,-49.08378709,-16.3064507,1
2,05211637000140,RUA VALDEMIRO DA SILVA 236,1,88240000,1531901,1540800,236,Ativa,PITUXA,SC,...,0,0,0,0,0,"NR_CONTA_CNS_GENESIS: 26517060,10803961,730504...",31DEC2022:00:00:00.0000000,-48.85465982,-27.27062278,5
3,03585558000174,AVENIDA BENTO GONCALVES 1900,1,98465000,3211601,4789099,1900,Ativa,None,RS,...,0,1,0,1,0,None,31DEC2022:00:00:00.0000000,-53.18165093,-27.36433706,12
4,03587033000178,AVENIDA NEWTON PRADO 3476,1,13631040,4711302,None,3476,Ativa,SUPERMERCADO PEGUE MAIS,SP,...,1,2,0,0,0,None,31DEC2022:00:00:00.0000000,-47.42104605,-22.01080032,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147143,03810052000111,AVENIDA GETULIO VARGAS 2942,1,76868000,4721104,4649499,2942,Ativa,RONDOFEST COMERCIO VAREJISTA DE DOCES,RO,...,0,0,2,0,0,None,31DEC2022:00:00:00.0000000,-62.00698634,-9.4255588,1
147144,03603595002373,RUA GETULIO VARGAS 285,2,89600000,8800600,8591100,285,Ativa,CENTRO DE ATIVIDADES DE JOACABA,SC,...,0,0,0,0,0,"NR_CONTA_CNS_GENESIS: 29166676,10582166,730422...",31DEC2022:00:00:00.0000000,-51.52030161,-27.16887984,9
147145,04146233000158,AVENIDA MATO GROSSO 1502NE,1,78360000,9430800,9499500,1502NE,Ativa,ASSOC DE PAIS E PROF DA ESCOLA NOSSA SRA APARE...,MT,...,1,3,0,1,0,None,31DEC2022:00:00:00.0000000,-57.89568631,-13.69887398,5
147146,04744727000134,RODOVIA SC 410 6720,1,88240000,4782201,1531901,6720,Ativa,None,SC,...,0,1,1,1,0,"NR_CONTA_CNS_GENESIS: 25150163,10804300,731116...",31DEC2022:00:00:00.0000000,-48.86056418,-27.27707902,3
147147,04923117000106,RODOVIA LINO ZANOLLI 2385,1,88820000,4520003,4530703,2385,Ativa,VOLTRONICA TRANSPORTES,SC,...,0,0,0,1,0,None,31DEC2022:00:00:00.0000000,-49.28894297,-28.76132946,8

In [21]:
cep_cnae_DAT_Y_cod_id = (df_cep_cnae_DAT_Y.COD_ID.value_counts() == 1).loc[lambda x: x == True].index.tolist()
cod_id_set = [*cod_id_set, *cep_cnae_DAT_Y_cod_id]
df_cep_cnae_DAT_Y.rename(columns={'CNPJ_DAT_CON_Y': 'DAT_CON_Y'}, inplace=True)
one_cod_df_list.append(df_cep_cnae_DAT_Y[df_cep_cnae_DAT_Y.COD_ID.isin(cep_cnae_DAT_Y_cod_id)][[*cnpj_cols, *cols_bdgd]])

In [23]:
len(set(cod_id_set))

61098

In [26]:
new_col_id = cep_cnae_dat_cod_id
new_dat_m = [x for x in cep_cnae_DAT_M_cod_id if x not in new_col_id]
new_col_id = [*new_col_id, *new_dat_m]
new_dat_y = [x for x in cep_cnae_DAT_Y_cod_id if x not in new_col_id]
new_col_id = [*new_col_id, *new_dat_y]
new_cep_cnae_num = [x for x in cep_cnae_num_cod_id if x not in new_col_id]
new_col_id = [*new_col_id, *new_cep_cnae_num]
new_cep_cnae = [x for x in cep_cnae_cod_id if x not in new_col_id]
new_col_id = [*new_col_id, *new_cep_cnae]
len(new_col_id)

61098

In [ ]:
len(cep_cnae_cod_id)

In [50]:
df_concat = pd.concat([df_cep_cnae_DAT[df_cep_cnae_DAT.COD_ID.isin(cep_cnae_dat_cod_id)], 
                       df_cep_cnae_DAT_M[df_cep_cnae_DAT_M.COD_ID.isin(cep_cnae_DAT_M_cod_id)],
                       df_cep_cnae_DAT_Y[df_cep_cnae_DAT_Y.COD_ID.isin(cep_cnae_DAT_Y_cod_id)],
                       df_cep_cnae_num[df_cep_cnae_num.COD_ID.isin(cep_cnae_num_cod_id)], 
                       df_cep_cnae[df_cep_cnae.COD_ID.isin(cep_cnae_cod_id)],])
len(df_concat)

73188

In [61]:
df_concat.columns.tolist()

['cnpj',
 'endereco',
 'matriz_filial',
 'CEP',
 'CNAE',
 'cnae_2_split',
 'numero',
 'situacao_cadastral',
 'nome_fantasia',
 'UF',
 'municipio',
 'DAT_CON',
 'CNPJ_DAT_CON_M',
 'CNPJ_DAT_CON_Y',
 'COD_ID',
 'DIST',
 'PN_CON',
 'PAC',
 'CTMT',
 'UNI_TR_AT',
 'SUB',
 'CONJ',
 'MUN',
 'CEG_GD',
 'LGRD',
 'BRR',
 'CLAS_SUB',
 'TIP_CC',
 'FAS_CON',
 'GRU_TEN',
 'TEN_FORN',
 'GRU_TAR',
 'SIT_ATIV',
 'CAR_INST',
 'LIV',
 'ARE_LOC',
 'TIP_SIST',
 'DEM_CONT',
 'DEM_01',
 'DEM_02',
 'DEM_03',
 'DEM_04',
 'DEM_05',
 'DEM_06',
 'DEM_07',
 'DEM_08',
 'DEM_09',
 'DEM_10',
 'DEM_11',
 'DEM_12',
 'ENE_01',
 'ENE_02',
 'ENE_03',
 'ENE_04',
 'ENE_05',
 'ENE_06',
 'ENE_07',
 'ENE_08',
 'ENE_09',
 'ENE_10',
 'ENE_11',
 'ENE_12',
 'DIC_01',
 'DIC_02',
 'DIC_03',
 'DIC_04',
 'DIC_05',
 'DIC_06',
 'DIC_07',
 'DIC_08',
 'DIC_09',
 'DIC_10',
 'DIC_11',
 'DIC_12',
 'FIC_01',
 'FIC_02',
 'FIC_03',
 'FIC_04',
 'FIC_05',
 'FIC_06',
 'FIC_07',
 'FIC_08',
 'FIC_09',
 'FIC_10',
 'FIC_11',
 'FIC_12',
 'SEMRED',
 'DESCR',
 'DATA_BASE',
 'POINT_X',
 'POINT_Y',
 'DAT_CON_M',
 'DAT_CON_Y',
 'CNPJ_DAT_CON']

In [58]:
len(df_concat.drop_duplicates(subset=['cnpj', 'COD_ID']))

62894

In [54]:
len(df_concat.drop_duplicates(subset=['COD_ID']).drop_duplicates(subset=['cnpj']))

49023

In [57]:
len(df_concat.drop_duplicates(subset=['cnpj']).drop_duplicates(subset=['COD_ID']))

49146

In [66]:
df_cd_pj = df_concat.drop_duplicates(subset=['COD_ID']).drop_duplicates(subset=['cnpj'])
df_pj_cd = df_concat.drop_duplicates(subset=['cnpj']).drop_duplicates(subset=['COD_ID'])

#Keeping only the rows that are in both dataframes
df_final = pd.merge(df_cd_pj, df_pj_cd, on=df_concat.columns.tolist(), how='inner')
df_final.to_csv('data/energia_com_cnpj.csv', index=False)

In [55]:
len(df_concat.drop_duplicates(subset=['cnpj']))

50395

In [56]:
len(df_concat.drop_duplicates(subset=['COD_ID']))

61098

In [37]:
df_concat.to_csv('./data/energia_com_cnpj.csv', index=False)